<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
    <link rel="stylesheet" href="static/stylesheets/body.css">
    <script src="../static/scripts/jquery-3.2.1.min.js"></script>
    <script>

        $(document).ready(setInterval(function() {
          $.post('/url', function(data){
            console.log(data);
            tmp = data;
            if (tmp != ($('#linkSite').attr('src'))){
                $('#linkSite').attr('src', data);
            }
          })}, 3000
        ));

    </script>
  </head>

  <body>
      <div id="container">
            <h2>Você encontrou {{ blabla|length }} resultado(s):</h2>
            {% for key in blabla %}
                <h3>{{ key }}</h3>
                <p id="paragrafo">{{ blabla[key] }}</p>
            {% endfor %}
      </div>
  </body>

</html>
